.information-wrapper {
 width: 100%;
 height: calc(100% - 1rem);
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}

.image-wrapper {
 margin-top: 3rem;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

.image-wrapper img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.75));
}

.lake-label-wrapper {
 position: absolute;
 width: 2px;
 background: var(--light-200-color);
 transform-origin: bottom;
 color: var(--light-color);
}

.lake-label-wrapper:hover .lake-label {
 filter: brightness(0.8);
}

.lake-label-wrapper.animate {
 animation: scaleUp var(--transition-fast) ease-in-out forwards;
 transform: translate(-50%, -50%) scaleY(0);
}

.lake-label-wrapper.lake-1 {
 top: 0%;
 left: 15%;
 height: 60%;
}

.lake-label-wrapper.lake-2 {
 top: 17.5%;
 left: 25%;
 height: 42.5%;
}

.lake-label-wrapper.lake-3 {
 top: 35%;
 left: 75%;
 height: 50%;
}

.lake-label-wrapper .lake-label {
 position: relative;
 transition: var(--transition-fast) all ease;
}

.lake-label-wrapper .lake-label p {
 position: absolute;
 top: 0;
 left: 0;
 width: min-content;
 white-space: nowrap;
 padding: 0.5rem;
 border: 1px solid var(--light-200-color);
 font-size: clamp(10px, 2vw, 16px);
 background: rgba(0, 0, 0, 0.75);
 cursor: pointer;
 border-start-end-radius: 5px;
 transform-origin: left;
 transform: scaleX(0);
}

.lake-label-wrapper.animate .lake-label p {
 animation: scaleRight var(--transition-fast) var(--transition-fast) ease-in-out
  forwards;
}

/* Information Text */
.information-text-wrapper {
 flex: 75%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
 padding: 1rem;
}

.information-text .information-label {
 display: none;
}

.accordion-wrapper {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 justify-content: center;
 align-items: center;
 width: 100%;
}

.accordion-wrapper .prev-button,
.accordion-wrapper .next-button {
 width: min-content;
 text-align: center;
 transition: var(--transition-fast) all ease;
 opacity: 0.75;
 cursor: pointer;
 justify-self: center;
 align-self: center;
}

.accordion-wrapper .prev-button.hide,
.accordion-wrapper .next-button.hide {
 opacity: 0;
 pointer-events: none;
}

.accordion-wrapper .prev-button:not(.hide):hover,
.accordion-wrapper .next-button:not(.hide):hover {
 opacity: 1;
 transform: translateX(5px);
}

.accordion-wrapper .prev-button:not(.hide):hover {
 transform: translateX(-5px);
}

.accordion-wrapper .track {
 position: relative;
 aspect-ratio: 1 / 1;
 justify-self: center;
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 10px;
 min-height: 10px;
 border: 2px solid var(--primary-color);
 border-radius: 50%;
 cursor: pointer;
 background: var(--primary-color);
 transition: var(--transition-fast) all ease-in;
}

.accordion-wrapper .track.active {
 background: transparent;
 width: 25px;
 height: 25px;
}

.accordion-wrapper .track .information-label {
 position: absolute;
 top: -1.5rem;
 left: 50%;
 transform: translate(-50%, -50%);
 opacity: 0;
 background: rgba(0, 0, 0, 0.45);
 padding: 0.25rem;
 border-radius: 5px;
 color: var(--light-color);
 white-space: nowrap;
 font-size: 0.75rem;
 transition: var(--transition-fast) all ease;
}

.accordion-wrapper .track:not(.active):hover .information-label {
 opacity: 1;
}

.accordion-wrapper .track::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 85%;
 height: 85%;
 background: var(--primary-color);
 border-radius: 50%;
 transform: translate(-50%, -50%) scale(0);
 transform-origin: center;
 transition: var(--transition-very-fast) all ease-in;
}

.accordion-wrapper .track.active::before {
 transform: translate(-50%, -50%) scale(1);
}

.information-text {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 gap: 0.5rem;
}

.information-text .information-label {
 align-self: start;
 font-size: 2rem;
 font-weight: bold;
}

.information-text.show {
 opacity: 1;
 animation: slideRight 0.2s ease forwards;
}

.information-text.hide {
 opacity: 0;
 animation: slideLeft 0.2s ease forwards;
}

@keyframes scaleUp {
 0% {
  transform: translate(-50%, -50%) scaleY(0);
 }

 100% {
  transform: translate(-50%, -50%) scaleY(1);
 }
}

@keyframes scaleRight {
 0% {
  transform: scaleX(0);
 }

 100% {
  transform: scaleX(1);
 }
}

@keyframes slideRight {
 0% {
  transform: translateX(-20px);
 }

 100% {
  transform: translateX(0);
 }
}

@keyframes slideLeft {
 0% {
  opacity: 1;
  transform: translateX(0);
 }

 100% {
  opacity: 0;
  transform: translateX(-20px);
 }
}

@media (min-width: 300px) and (min-height: 700px) and (orientation: portrait) {
 .information-text {
  font-size: 1.25rem;
 }
}

@media (min-width: 768px) and (orientation: portrait) {
 .information-text-wrapper {
  flex: 0 0 25%;
  justify-self: flex-end;
  gap: 3rem;
 }
}
@media (min-width: 768px) and (min-height: 1280px) and (orientation: portrait) {
 .information-text {
  font-size: 1.75rem;
 }
}

@media (min-width: 768px) and (orientation: landscape) {
 .information-text .information-label {
  display: block;
 }

 .information {
  flex-direction: row;
  gap: 2rem;
 }

 .image-wrapper {
  flex: 100%;
 }

 .information-text-wrapper {
  flex: 100%;
  height: 50%;
 }

 .accordion-wrapper {
  grid-template-columns: repeat(6, 75px);
 }
}

@media (min-width: 1200px) {
 .information-text {
  font-size: 1.25rem;
 }
}

@media (min-width: 768px) and (orientation: landscape) {
 .information-wrapper {
  flex-direction: row;
  gap: 2rem;
 }
}
