.navbar {
 position: fixed;
 top: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 min-height: 70px;
 padding: 0.5rem 1rem;
 z-index: 2;
}

.navbar .navbar-wrapper {
 display: grid;
 grid-template-columns: 75px 1fr 75px;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 padding: 1rem;
 position: relative;
 font-weight: bold;
 color: var(--light-color);
 gap: 2rem;
}

/* Menu */
.navbar .navbar-wrapper .menu {
 justify-self: center;
 grid-column: 2 / 3;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 max-width: 500px;
 width: 100%;
}

.navbar .navbar-wrapper .menu::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100%;
 height: 100%;
 background: #0000004d;
 transform: translate(-50%, -50%);
 z-index: -1;
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border-radius: 10px;
 padding: 0.5rem;
}

.navbar .navbar-wrapper .menu .menu-wrapper {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 0.5rem;
}

.navbar .navbar-wrapper .menu .menu-wrapper > li {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 width: 100%;
 position: relative;
 cursor: pointer;
 transition: var(--transition-fast) all ease;
 padding: 1rem;
}

.navbar .navbar-wrapper .menu .menu-wrapper > li:hover,
.navbar .navbar-wrapper .menu .menu-wrapper > li.active {
 color: #aafc06;
}

.navbar .navbar-wrapper .menu .menu-wrapper > li::before {
 content: "";
 position: absolute;
 bottom: 0.5rem;
 left: 50%;
 width: calc(100% - 2rem);
 height: 2px;
 background: #aafc06;
 transform: translate(-50%, -50%) scaleX(0);
 transform-origin: right;
 transition: transform 0.25s ease;
}

.navbar .navbar-wrapper .menu .menu-wrapper > li:hover::before,
.navbar .navbar-wrapper .menu .menu-wrapper > li.active::before {
 transform-origin: left;
 transform: translate(-50%, -50%) scaleX(1);
}

/* Language */
.navbar .navbar-wrapper .lang {
 flex: 0.15;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.navbar .navbar-wrapper .lang .lang-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 75px;
 width: fit-content;
 height: 100%;
 padding: 1rem 0.5rem;
 border-radius: 10px;
 cursor: pointer;
 transition: var(--transition-fast) all ease-in-out;
}

.navbar .navbar-wrapper .lang .lang-wrapper::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100%;
 height: 100%;
 transform: translate(-50%, -50%);
 z-index: -1;
 backdrop-filter: blur(5px);
 border-radius: 5px;
 background-color: #0000004d;
}

.navbar .navbar-wrapper .lang .lang-wrapper .lang-en,
.navbar .navbar-wrapper .lang .lang-wrapper .lang-id {
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 padding: 0;
 flex: 0;
 opacity: 0;
 transition: var(--transition-fast) all ease-in-out;
 transform-origin: left;
 overflow: hidden;
}

.navbar .navbar-wrapper .lang .lang-wrapper:hover .lang-en,
.navbar .navbar-wrapper .lang .lang-wrapper:hover .lang-id {
 white-space: nowrap;
 opacity: 1;
 flex: 1 1 auto;
 transition: var(--transition-fast) all ease-in-out;
}

.navbar .navbar-wrapper .lang .lang-wrapper .active {
 white-space: nowrap;
 opacity: 1;
 flex: 1 1 auto;
}

.navbar .navbar-wrapper .lang .lang-wrapper:hover .active {
 color: #aafc06;
}
