/* Facilities */
.facilities-section {
 padding: 1rem;
 cursor: default;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
}

.facilities-header {
 align-items: start;
 text-align: left;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.facilities-header h2 {
 padding-bottom: 3rem;
 text-align: center;
 font-size: 2rem;
}

.facilities-container {
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 900px;
 width: 100%;
}

.facility-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(100px, 1fr);
 justify-content: center;
 align-items: stretch;
 width: 100%;
 overflow: hidden;
 padding: 1px;
}

.facility-container .facility-box {
 justify-self: center;
 position: relative;
 aspect-ratio: 1/1;
 max-width: 300px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-weight: bold;
 font-size: clamp(12px, 2vw, 16px);
 padding: 0.5rem;
 transition: var(--transition-very-fast) all ease;
}

.facility-container .facility-box:hover {
 background: #eee;
}

.facility-container .facility-box .facility {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;
 transition: var(--transition-very-fast) all ease;
}

.facility-container .facility-box:hover .facility {
 transform: scale(1.025);
}

.facility-container .facility-box .corner,
.facility-container .facility-box .corner.left-top {
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
 transition: var(--transition-fast) all ease-in-out;
 z-index: 1;
}

.facility-container .facility-box .corner.right-top {
 top: 0;
 left: 100%;
}

.facility-container .facility-box .corner.right-bottom {
 top: 100%;
 left: 100%;
}

.facility-container .facility-box .corner.left-bottom {
 top: 100%;
 left: 0;
}

.facility-container .facility-box:nth-child(1) .corner.left-top,
.facility-container .facility-box:nth-child(2) .corner.left-top,
.facility-container .facility-box:nth-child(3) .corner.left-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-bottom,
.facility-container .facility-box:nth-child(5) .corner.right-bottom,
.facility-container .facility-box:nth-child(6) .corner.right-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1) .corner.left-bottom,
.facility-container .facility-box:nth-child(2) .corner.left-bottom,
.facility-container .facility-box:nth-child(3) .corner.left-bottom,
.facility-container .facility-box:nth-child(4) .corner.left-bottom,
.facility-container .facility-box:nth-child(5) .corner.left-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1):hover .corner,
.facility-container .facility-box:nth-child(2):hover .corner,
.facility-container .facility-box:nth-child(3):hover .corner,
.facility-container .facility-box:nth-child(4):hover .corner,
.facility-container .facility-box:nth-child(5):hover .corner,
.facility-container .facility-box:nth-child(6):hover .corner {
 opacity: 1;
}

.facility-container .facility-box .corner::before {
 content: "";
 position: absolute;
 width: 15px;
 height: 1px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .corner::after {
 content: "";
 position: absolute;
 width: 1px;
 height: 15px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .icon {
 min-width: 50px;
 width: 75%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.facility-container .facility-box .label {
 text-align: center;
}

@media (min-width: 768px) {
 .facilities-section {
  background: #f4f6f5;
  box-shadow: inset 0 0 3px var(--light-200-color);
 }

 .facilities-header h2 {
  font-size: 3rem;
 }

 .facility-container .facility-box .corner {
  transform: translate(-50%, -50%) scale(2);
 }
}
