.hamburger {
 display: none;
 position: fixed;
 top: 1rem;
 right: 1rem;
 z-index: 4;
 color: var(--light-color);
 opacity: 0;
 animation: fadeIn 1.5s 2s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

.hamburger-button-wrapper {
 width: 35px;
 display: flex;
 height: 35px;
 align-items: stretch;
 justify-content: center;
 gap: 1rem;
}

/* Hamburger Button */
.hamburger-button {
 align-self: center;
 justify-self: center;
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 cursor: pointer;
 background: #0000004d;
 padding: 0.75rem 0.25rem;
 border-radius: 5px;
}

.hamburger-button div {
 width: 100%;
 height: 2px;
 background: var(--light-color);
 transition: var(--transition-fast) all ease;
 transform: rotate(0deg);
}

.hamburger-button.active div {
 transform: rotate(225deg);
}

.hamburger-button div::before,
.hamburger-button div::after {
 content: "";
 position: absolute;
 left: 0;
 width: 100%;
 height: 2px;
 background: var(--light-color);
 transform: rotate(0);
 transition: var(--transition-fast) all ease;
}

.hamburger-button div::before {
 top: -10px;
}

.hamburger-button div::after {
 bottom: -10px;
}

.hamburger-button.active div::before,
.hamburger-button.active div::after {
 transform: rotate(90deg);
 bottom: 0;
 top: 0;
}

/* Hamburger Menu */
.hamburger-menu {
 display: none;
 color: var(--light-color);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 align-items: center;
 justify-content: center;
}

.hamburger-menu .hamburger-menu-container {
 position: relative;
 padding: 1rem;
 width: calc(100% - 2rem);
 height: calc(100% - 2rem);
 font-size: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 2rem;
 transition: var(--transition-medium) all ease-in-out;
 transform-origin: top;
 transform: scaleY(0);
 opacity: 0;
 border-radius: 5px;
 overflow: hidden;
}

.hamburger-menu.active .hamburger-menu-container {
 transform: scaleY(1);
 opacity: 1;
}

.hamburger-menu .hamburger-menu-container::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 backdrop-filter: blur(15px);
 background-color: rgba(0, 0, 0, 0.5);
 transition: var(--transition-medium) all ease;
}

.hamburger-menu.active .hamburger-menu-container::before {
 opacity: 1;
}

.hamburger-menu .hamburger-menu-container li {
 position: relative;
 width: 100%;
 transition: var(--transition-medium) 0.5s all ease;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 0 1rem;
 overflow: hidden;
 opacity: 0;
 transform: translateX(-5px);
}

.hamburger-menu.active .hamburger-menu-container li {
 opacity: 1;
 transform: translateX(0);
}

.hamburger-menu .hamburger-menu-container li .section-label-wrapper {
 transition: var(--transition-medium) all ease-in-out;
 height: min-content;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0.5;
}

.hamburger-menu .hamburger-menu-container li.active .section-label-wrapper {
 opacity: 1;
 color: #aafc06;
 font-weight: bold;
}

@keyframes fadeIn {
 0% {
  opacity: 0;
  transform: translateY(-3px) scale(0.95);
 }

 75% {
  transform: translateY(0) scale(1);
 }

 100% {
  opacity: 1;
  transform: translateY(0) scale(1);
 }
}

@media (max-width: 600px) {
 .hamburger,
 .hamburger-menu {
  display: flex;
 }
}
