/* Payment */
.header {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.header h2 {
 text-align: center;
 font-size: 2rem;
}

.payment-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 2rem;
 width: 100%;
}

.payment-steps {
 position: relative;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(7, 1fr);
 align-items: stretch;
 justify-content: center;
 gap: 1rem 2rem;
 list-style: none;
}

.payment-steps::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 2px;
 height: 85%;
 transform: translate(-50%, -50%);
 background: var(--primary-color);
}

.payment-steps .step {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 border-radius: 10px;
 padding: 1rem;
 grid-column: 1;
 text-align: center;
 background: var(--primary-color);
 color: var(--light-color);
 box-shadow: 1px 1px 8px var(--dark-200-color);
 cursor: default;
 transition: var(--transition-medium) all ease;
}

.payment-steps .step .step-wrapper {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.payment-steps .step:hover {
 filter: brightness(0.85);
}

.payment-steps .step::before {
 content: "";
 position: absolute;
 top: 50%;
 background: var(--light-color);
 width: 25px;
 height: 25px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 transform: translate(12.5%, -50%);
}

.payment-steps .step:nth-child(odd)::before {
 left: 100%;
}

.payment-steps .step:nth-child(even)::before {
 right: 100%;
 transform: translate(-12.5%, -50%);
}

.payment-steps .step::after {
 content: "";
 position: absolute;
 top: 50%;
 background: var(--primary-color);
 width: 15px;
 height: 15px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 transform: translate(50%, -50%);
}

.payment-steps .step:nth-child(odd)::after {
 left: 100%;
}

.payment-steps .step:nth-child(even)::after {
 right: 100%;
 transform: translate(-50%, -50%);
}

.payment-steps .step:nth-child(even) {
 transform: translateX(calc(100% + 2rem));
}

.payment-steps .step .step-pict {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 75px;
 height: auto;
}

.payment-steps .step .step-name {
 font-size: 0.95rem;
}

.payment-steps .step .step-number {
 display: none;
}

.cash-payment {
 font-weight: 600;
}

@media (min-width: 700px) {
 .header h2 {
  text-align: left;
  align-self: start;
  font-size: 3rem;
 }

 /* Payment Method */
 .payment-steps {
  width: 80%;
  display: flex;
  gap: 0;
  transition: var(--transition-medium) all ease;
  height: 350px;
 }

 .payment-steps::before {
  display: none;
 }

 .payment-steps .step {
  cursor: pointer;
  width: 15%;
  border-radius: 0;
  box-shadow: none;
  justify-content: space-evenly;
  border: 1px solid var(--primary-color);
  transition: var(--transition-medium) all ease;
  background: var(--light-color);
  color: var(--primary-color);
  overflow: hidden;
 }

 .payment-steps .step .step-wrapper {
  flex-direction: row;
  opacity: 0;
  transition: var(--transition-very-fast) all ease;
 }

 .payment-steps .step.active .step-wrapper {
  opacity: 1;
  transition: var(--transition-medium) 0.3s all ease;
 }

 .payment-steps .step .step-wrapper .step-pict {
  min-width: 100px;
 }

 .payment-steps .step .step-wrapper .step-name {
  font-size: 1rem;
 }

 .payment-steps .step:hover {
  width: 25%;
 }

 .payment-steps .step.active {
  width: 100%;
  background: var(--primary-color);
  color: var(--light-color);
 }

 .payment-steps .step .step-number {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-color);
  -moz-text-stroke: 2px var(--primary-color);
  text-stroke: 2px var(--primary-color);
  transition: var(--transition-medium) all ease;
 }

 .payment-steps .step.active .step-number {
  top: 85%;
  color: var(--light-color);
  -webkit-text-stroke: 2px var(--light-color);
  -moz-text-stroke: 2px var(--light-color);
  text-stroke: 2px var(--light-color);
 }

 .payment-steps .step::before,
 .payment-steps .step::after {
  display: none;
 }

 .payment-steps .step:nth-child(even) {
  transform: translateX(0);
 }

 .cash-payment {
  align-self: start;
 }
}
