.fees-payment {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 0.5rem;
}

.fees-payment .header {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.fees-payment .header h2 {
 text-align: center;
 font-size: 2rem;
}

.fees-payment .header .regulation {
 align-self: end;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 cursor: pointer;
 padding: 0 1rem;
 opacity: 0.75;
 transition: var(--transition-medium) all ease;
}

.fees-payment .header .regulation:hover {
 opacity: 1;
}

.fees-payment .header .regulation .regulation-name {
 text-align: right;
 font-weight: 300;
}

.fees-payment .header .regulation .icon {
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid var(--primary-color);
 min-width: 25px;
 min-height: 25px;
 border-radius: 50%;
 transition: var(--transition-medium) all ease;
}

.fees-payment .header .regulation:hover .icon {
 background: var(--primary-color);
 color: var(--light-color);
}

/* Fees Container */
.fees-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.fees-container .fees-card {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
 padding: 1rem;
 border: 1px solid var(--primary-color);
 border-radius: 15px;
}

.fees-container .fees-card .card-header {
 display: flex;
 align-items: center;
 justify-content: start;
 gap: 1rem;
 font-weight: 500;
 width: 100%;
}

.fees-container .fees-card .card-header .icon {
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.fees-container .fees-card .card-header .title {
 font-size: 1.25rem;
 font-weight: 600;
}

.fees-container .fees-card .card-content {
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 gap: 1.5rem;
}

.fees-container .fees-card .card-content .fees-type {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 gap: 0.75rem;
 flex-direction: column;
}

.fees-container .fees-card .card-content .type-header {
 display: grid;
 grid-template-columns: 25px 1fr;
 grid-template-rows: auto auto;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 position: relative;
 gap: 0.5rem;
}

.fees-container .fees-card .card-content .type-header::before {
 content: "";
 position: absolute;
 top: 1.75rem;
 left: 0;
 transform: translateY(-50%);
 width: 100%;
 height: 1px;
 background: var(--primary-color);
}

.fees-container .fees-card .card-content .type-icon {
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.fees-container .fees-card .card-content .type-name {
 display: flex;
 align-items: end;
 justify-content: center;
 flex-direction: column;
 text-align: right;
 gap: 0.5rem;
}

.fees-container .fees-card .card-content .type-name:nth-of-type(3) {
 grid-column: 1 / -1;
}

.fees-container .fees-card .card-content .type-name:nth-of-type(3) p {
 font-size: 0.75rem;
 font-weight: 300;
}

.fees-container .fees-card .card-content .type-prices {
 display: flex;
 align-items: end;
 justify-content: center;
 flex-direction: column;
 text-align: right;
 width: 100%;
 gap: 1rem;
 position: relative;
}

.fees-container .fees-card .card-content .type-prices .price {
 display: flex;
 align-items: center;
 justify-content: center;
}

.fees-container .fees-card .card-content .type-prices.has-multiple::before {
 content: "";
 position: absolute;
 bottom: 50%;
 transform: translateY(-50%);
 left: 0;
 height: 1px;
 width: 100%;
 background: var(--primary-color);
}

.fees-container .fees-card .card-content .type-note {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 width: 100%;
 font-size: 0.75rem;
 font-weight: 300;
 position: relative;
 text-align: right;
}

.fees-container .fees-card .card-content .type-note::before {
 content: "";
 position: absolute;
 top: -25%;
 left: 0;
 width: 100%;
 height: 1px;
 transform: translateY(50%);
 background: var(--primary-color);
}

.modal {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}

.modal-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.modal-wrapper::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 background-color: var(--dark-color);
 opacity: 0.75;
 z-index: -1;
 width: 100%;
 height: 100%;
}

.modal-container {
 position: relative;
 background-color: var(--light-color);
 border-radius: 15px;
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 80%;
 max-width: 800px;
 max-height: 90%;
 padding: 0.5rem;
}

.modal-container .pdf-wrapper {
 display: flex;
 align-items: flex-start;
 justify-content: start;
 width: 100%;
 overflow: auto;
}

.pagination {
 position: absolute;
 bottom: 1rem;
 left: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 1rem;
 padding: 0.25rem;
 width: fit-content;
 z-index: 2;
 background: transparent;
 background: rgba(0, 0, 0, 0.35);
 border-radius: 15px;
}

.pagination .button {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0.25rem 0.5rem;
 border-radius: 5px;
 border: none;
 outline: none;
 background: transparent;
 color: var(--light-color);
 cursor: pointer;
}

.pagination .button:disabled {
 opacity: 0.5;
 cursor: not-allowed;
}

/* Close Button */
.close-button {
 position: absolute;
 top: 0;
 right: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--light-color);
 border-radius: 50%;
 width: 25px;
 height: 25px;
 transform: translate(50%, -50%);
 border: 1px solid var(--primary-color);
 color: var(--primary-color);
 cursor: pointer;
}

.page-number {
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--light-color);
}

.page-number > * {
 flex: 1;
 text-align: center;
 font-size: 0.75rem;
}

input {
 display: flex;
 align-items: center;
 justify-content: center;
 outline: 0px;
 border: 0;
 border-bottom: 1px solid var(--light-color);
 padding: 0.5rem 0;
 min-width: 0;
 width: 100%;
 color: var(--light-color);
 font-family: inherit;
 background: transparent;
}

/* Payment */
.payment-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 2rem;
 width: 100%;
}

.payment-steps {
 position: relative;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(7, 1fr);
 align-items: stretch;
 justify-content: center;
 gap: 1rem 2rem;
 list-style: none;
}

.payment-steps::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 2px;
 height: 85%;
 transform: translate(-50%, -50%);
 background: var(--primary-color);
}

.payment-steps .step {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 border-radius: 10px;
 padding: 1rem;
 grid-column: 1;
 text-align: center;
 background: var(--primary-color);
 color: var(--light-color);
 box-shadow: 1px 1px 8px var(--dark-200-color);
 cursor: default;
 transition: var(--transition-medium) all ease;
}

.payment-steps .step:hover {
 filter: brightness(0.85);
}

.payment-steps .step::before {
 content: "";
 position: absolute;
 top: 50%;
 background: var(--light-color);
 width: 25px;
 height: 25px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 transform: translate(12.5%, -50%);
}

.payment-steps .step:nth-child(odd)::before {
 left: 100%;
}

.payment-steps .step:nth-child(even)::before {
 right: 100%;
 transform: translate(-12.5%, -50%);
}

.payment-steps .step::after {
 content: "";
 position: absolute;
 top: 50%;
 background: var(--primary-color);
 width: 15px;
 height: 15px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 transform: translate(50%, -50%);
}

.payment-steps .step:nth-child(odd)::after {
 left: 100%;
}

.payment-steps .step:nth-child(even)::after {
 right: 100%;
 transform: translate(-50%, -50%);
}

.payment-steps .step:nth-child(even) {
 transform: translateX(calc(100% + 2rem));
}

.payment-steps .step .step-pict {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 75px;
 height: auto;
}

.payment-steps .step .step-name {
 font-size: 0.95rem;
}

.cash-payment {
 font-weight: 600;
}

/* Cost Calculator */
.calculator-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 padding: 3rem 1rem;
 border-radius: 15px;
 width: 100%;
}

.category-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 border: 1px solid var(--primary-color);
 border-radius: 15px;
}

.category-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 width: 100%;
 border-radius: 15px;
 padding: 0.5rem;
}

.category-container > div {
 min-height: 100px;
}

.category {
 flex: 0.75;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.category .category-label {
 font-weight: 700;
}

.category .checkbox-wrapper {
 cursor: pointer;
 display: flex;
 align-items: center;
}

.category .checkbox-wrapper .checkbox-input {
 display: none;
}

.category .checkbox-wrapper label {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 0.5rem;
 cursor: pointer;
}

.category .checkbox-wrapper .checkbox-display {
 position: relative;
 width: 15px;
 height: 15px;
 border: 1px solid var(--primary-color);
 border-radius: 25%;
 opacity: 0.5;
 overflow: hidden;
 background: var(--light-color);
}

.category .checkbox-wrapper .checkbox-display.checked {
 opacity: 1;
}

.category .checkbox-wrapper .checkbox-display::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 12.5px;
 height: 12.5px;
 transform: translate(-50%, -50%);
 background: var(--primary-color);
 border-radius: 25%;
 opacity: 0;
}

.category .checkbox-wrapper .checkbox-display.checked::before {
 opacity: 1;
}

.field-wrapper {
 position: relative;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.field-wrapper::before {
 content: "";
 position: absolute;
 top: 50%;
 right: calc(100% + 0.5rem);
 width: 1px;
 height: calc(100% + 1rem);
 transform: translate(-100%, -50%);
 background-color: var(--primary-color);
}

.type-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 width: 100%;
 gap: 0.5rem;
 flex: 100%;
}

.type-wrapper.bordered {
 position: relative;
}

.type-wrapper.bordered::before {
 content: "";
 position: absolute;
 bottom: calc(100% + 0.25rem);
 left: 50%;
 width: calc(100% + 1rem);
 height: 2px;
 transform: translate(-50%, -150%);
 background: var(--primary-color);
 opacity: 0.25;
}

.type-wrapper .dropdown {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.type-wrapper .dropdown .trigger {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 text-align: right;
 border-bottom: 1px solid var(--primary-color);
 padding: 0.25rem 0;
 cursor: pointer;
}

.type-wrapper .options {
 position: absolute;
 top: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 padding: 0.5rem;
 gap: 0.5rem;
 background: var(--light-200-color);
 border: 1px solid var(--primary-color);
 border-top: none;
 border-end-end-radius: 10px;
 border-end-start-radius: 10px;
 z-index: 1;
}

.type-wrapper .option {
 text-align: right;
 width: 100%;
 border-bottom: 1px solid var(--primary-color);
 padding: 0.5rem 0;
 transition: var(--transition-medium) all ease;
 cursor: pointer;
}

.type-wrapper .option:hover {
 filter: brightness(0.5);
}

.type-wrapper .region-wrapper,
.type-wrapper .count-wrapper {
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: space-between;
 width: 100%;
 gap: 0.5rem;
 text-align: left;
}

.type-wrapper .region-wrapper {
 flex-direction: row;
 overflow: hidden;
 font-size: 0.75rem;
}

.type-wrapper .region-wrapper .input-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.type-wrapper .region-wrapper .input-wrapper input[type="radio"] {
 display: none;
}

.type-wrapper .region-wrapper .input-wrapper label {
 padding: 3px 7px;
 border-radius: 10px;
 cursor: pointer;
 transition: all 0.2s;
 background-color: var(--light-200-color);
 color: var(--primary-color);
 border: 1px solid var(--primary-color);
}

.type-wrapper
 .region-wrapper
 .input-wrapper
 input[type="radio"]:checked
 + label {
 background-color: var(--primary-color);
 color: var(--light-color);
}

.type-wrapper .count-wrapper .sub-label {
 font-size: 0.75rem;
}

.type-wrapper .count-wrapper .counter {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 justify-content: center;
 width: 100%;
 gap: 0.5rem;
 text-align: center;
}

.type-wrapper .count-wrapper .count-value {
 grid-column: 2;
}

.type-wrapper .count-wrapper .decrease-button,
.type-wrapper .count-wrapper .increase-button {
 justify-self: center;
 cursor: pointer;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 50%;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.type-wrapper .remove-button {
 cursor: pointer;
 position: absolute;
 left: 100%;
 top: 5px;
 transform: translate(0, -50%);
 width: 20px;
 height: 20px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.5rem;
 background: var(--error-color);
 color: var(--light-color);
 padding: 5px;
}

.add-type-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 width: 100%;
 border-top: 1px solid var(--primary-color);
 padding: 1rem;
 cursor: pointer;
}

/* Total */
.total-container {
 position: absolute;
 top: 100%;
 transform: translateY(-50%);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 15px;
 min-width: 60%;
}

.total-container .total {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

.fees-payment .bottom {
 display: flex;
 align-items: center;
 width: 100%;
 margin-top: auto;
}

.fees-payment .bottom .prev-button,
.fees-payment .bottom .next-button {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0.75rem;
 border-radius: 15px;
 cursor: pointer;
 color: var(--light-color);
 background: var(--primary-color);
 transition: var(--transition-medium) all ease-in-out;
}

.fees-payment .bottom .next-button {
 margin-left: auto;
}

.fees-payment .bottom .prev-button:hover,
.fees-payment .bottom .next-button:hover {
 filter: brightness(0.85);
}
