.fees-payment {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 0.5rem;
}

.fees-payment .bottom {
 display: flex;
 align-items: center;
 width: 100%;
 margin-top: auto;
}

.fees-payment .bottom .prev-button,
.fees-payment .bottom .next-button {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 padding: 1rem;
 border-radius: 25px;
 cursor: pointer;
 color: var(--light-color);
 background: var(--primary-color);
 transition: var(--transition-medium) all ease-in-out;
 box-shadow: 0 2px 5px var(--dark-color);
}

.fees-payment .bottom .next-button {
 margin-left: auto;
}

.fees-payment .bottom .prev-button:hover,
.fees-payment .bottom .next-button:hover {
 filter: brightness(0.85);
}

@media (min-width: 700px) {
 .fees-payment {
  max-width: 85%;
 }
}
