/* Utilities */
ul {
 margin: 0;
 padding: 0;
}

ul li {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.about {
 position: relative;
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 color: var(--primary-color);
 background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.95) 0%,
  var(--light-color) 25%
 );
 padding: 1rem 0;
}

.about::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 80px;
 background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.55) 0%,
  rgba(0, 0, 0, 0.35) 30%,
  rgba(0, 0, 0, 0.15) 60%,
  rgba(0, 0, 0, 0) 100%
 );
 z-index: -1;
}

.about .header {
 align-self: start;
 position: relative;
 padding: 0 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 white-space: nowrap;
 width: 100%;
 min-height: 45px;
}

.about .header .pills-button {
 align-self: start;
 position: relative;
 width: min-content;
 display: flex;
 height: 100%;
 align-items: end;
 justify-content: space-between;
 gap: 0.5rem;
}

.about .header .pills-button::before {
 content: "";
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 2px;
 transform: translate(0, 0);
 background: var(--light-200-color);
}

.about .header h2 {
 width: 100%;
 padding: 0.5rem;
 font-size: 0.75rem;
 color: var(--light-color);
 transition: var(--transition-fast) all ease;
 cursor: pointer;
}

.about .header h2.active {
 color: var(--dark-color);
 font-size: 1.5rem;
 background: var(--light-200-color);
}

.about .location {
 padding: 0.5rem;
 cursor: pointer;
}

.about .location a {
 color: var(--light-color);
}

.about .location .icon-wrapper {
 position: relative;
 width: 100%;
 height: 100%;
}

.about .location .icon-wrapper i {
 position: relative;
 z-index: 1;
 font-size: 1.5rem;
}

.about .location .icon-wrapper::before,
.about .location .icon-wrapper::after {
 content: "";
 position: absolute;
 bottom: -5px;
 left: 50%;
 width: 15px;
 height: 5px;
 border-radius: 50%;
 transform: translate(-50%, 0);
 z-index: 0;
}

.about .location .icon-wrapper::after {
 border: 1px solid var(--error-color);
}

.about .location .icon-wrapper::before {
 bottom: -4px;
 background: var(--error-color);
 transform-origin: center;
 transform: translate(-50%, 0) scale(0);
}

.about .location:hover .icon-wrapper::before {
 animation: locationAnim 1s ease infinite;
}

.about .location:hover .icon-wrapper::after {
 animation: locationBorderAnim 1s ease infinite;
}

.about .about-container {
 display: grid;
 grid-template-columns: repeat(3, 100%);
 align-items: center;
 justify-content: start;
 height: 100%;
 width: 100%;
 overflow-x: scroll;
 z-index: 1;
 scroll-snap-type: x mandatory;
 scrollbar-width: none;
}

.about .about-container::-webkit-scrollbar {
 display: none;
}

.about .about-container > div {
 padding: 1rem;
 scroll-snap-align: center;
}

.about .about-container .information {
 height: 100%;
}

.about .about-container .kelimutu-information {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}

.about .about-container .kelimutu-information .image-wrapper {
 margin-top: 3rem;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

.about .about-container .kelimutu-information .image-wrapper img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.75));
}

.lake-label-wrapper {
 position: absolute;
 width: 2px;
 background: var(--light-200-color);
 transform-origin: bottom;
 color: var(--light-color);
}

.lake-label-wrapper:hover .lake-label {
 filter: brightness(0.8);
}

.lake-label-wrapper.animate {
 animation: scaleUp var(--transition-fast) ease-in-out forwards;
 transform: translate(-50%, -50%) scaleY(0);
}

.lake-label-wrapper.lake-1 {
 top: 0%;
 left: 15%;
 height: 60%;
}

.lake-label-wrapper.lake-2 {
 top: 17.5%;
 left: 25%;
 height: 42.5%;
}

.lake-label-wrapper.lake-3 {
 top: 35%;
 left: 75%;
 height: 50%;
}

.lake-label-wrapper .lake-label {
 position: relative;
 transition: var(--transition-fast) all ease;
}

.lake-label-wrapper .lake-label p {
 position: absolute;
 top: 0;
 left: 0;
 width: min-content;
 white-space: nowrap;
 padding: 0.5rem;
 border: 1px solid var(--light-200-color);
 font-size: clamp(10px, 2vw, 16px);
 background: rgba(0, 0, 0, 0.75);
 cursor: pointer;
 border-start-end-radius: 5px;
 transform-origin: left;
 transform: scaleX(0);
}

.lake-label-wrapper.animate .lake-label p {
 animation: scaleRight var(--transition-fast) var(--transition-fast) ease-in-out
  forwards;
}

/* Information Text */
.information-text-wrapper {
 flex: 75%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
 padding: 1rem;
}

.information-text .information-label {
 display: none;
}

.accordion-wrapper {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 justify-content: center;
 align-items: center;
 width: 100%;
}

.accordion-wrapper .prev-button,
.accordion-wrapper .next-button {
 width: min-content;
 text-align: center;
 transition: var(--transition-fast) all ease;
 opacity: 0.75;
 cursor: pointer;
 justify-self: center;
 align-self: center;
}

.accordion-wrapper .prev-button.hide,
.accordion-wrapper .next-button.hide {
 opacity: 0;
 pointer-events: none;
}

.accordion-wrapper .prev-button:not(.hide):hover,
.accordion-wrapper .next-button:not(.hide):hover {
 opacity: 1;
 transform: translateX(5px);
}

.accordion-wrapper .prev-button:hover {
 transform: translateX(-5px);
}

.accordion-wrapper .track {
 position: relative;
 aspect-ratio: 1 / 1;
 justify-self: center;
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 10px;
 min-height: 10px;
 border: 2px solid var(--primary-color);
 border-radius: 50%;
 cursor: pointer;
 background: var(--primary-color);
 transition: var(--transition-fast) all ease-in;
}

.accordion-wrapper .track.active {
 background: transparent;
 width: 25px;
 height: 25px;
}

.accordion-wrapper .track .information-label {
 position: absolute;
 top: -1.5rem;
 left: 50%;
 transform: translate(-50%, -50%);
 opacity: 0;
 background: rgba(0, 0, 0, 0.45);
 padding: 0.25rem;
 border-radius: 5px;
 color: var(--light-color);
 white-space: nowrap;
 font-size: 0.75rem;
 transition: var(--transition-fast) all ease;
}

.accordion-wrapper .track:not(.active):hover .information-label {
 opacity: 1;
}

.accordion-wrapper .track::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 85%;
 height: 85%;
 background: var(--primary-color);
 border-radius: 50%;
 transform: translate(-50%, -50%) scale(0);
 transform-origin: center;
 transition: var(--transition-very-fast) all ease-in;
}

.accordion-wrapper .track.active::before {
 transform: translate(-50%, -50%) scale(1);
}

.information-text {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 gap: 0.5rem;
}

.information-text .information-label {
 align-self: start;
 font-size: 2rem;
 font-weight: bold;
}

.information-text.show {
 opacity: 1;
 animation: slideRight 0.2s ease forwards;
}

.information-text.hide {
 opacity: 0;
 animation: slideLeft 0.2s ease forwards;
}

/* History */
.history {
 padding: 0 1rem !important;
 height: 100%;
}

.kelimutu-history {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.history-wrapper {
 height: calc(100% - 1rem);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.history-wrapper .history-button {
 color: var(--primary-color);
 display: grid;
 grid-template-columns: repeat(2, min-content);
 align-items: stretch;
 justify-content: space-between;
 gap: 1rem;
 width: 100%;
 font-weight: bold;
}

.history-wrapper .history-button .history-type {
 cursor: pointer;
 display: flex;
 align-items: end;
 justify-content: center;
 opacity: 0.5;
 transition: var(--transition-fast) all ease;
 transform: scale(0.75);
 transform-origin: bottom;
}

.history-wrapper .history-button .active {
 opacity: 1;
 transform: scale(1);
}

.history-wrapper ul {
 position: relative;
 height: calc(100% - 2rem);
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 font-size: clamp(12px, 2vw, 16px);
 gap: 1rem;
 padding: 1rem 0;
 width: 100%;
}

.history-wrapper ul::before {
 content: "";
 position: absolute;
 width: 2px;
 left: 0;
 top: 50%;
 height: calc(100% - 5rem);
 transform: translate(-50%, -50%);
 background: var(--primary-color);
}

.history-wrapper ul .stage {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: start;
 width: 100%;
 padding: 0 1rem;
}

.history-wrapper ul .stage::before,
.history-wrapper ul .stage::after {
 content: "";
 position: absolute;
 left: 0;
 top: 50%;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 transition: var(--transition-fast) all ease;
 background: var(--primary-color);
 transform: translate(-50%, -50%) scale(0.65);
}

.history-wrapper ul .stage:hover::before {
 transform: translate(-50%, -50%) scale(1);
}

.history-wrapper ul .stage::after {
 border: 1px solid var(--primary-color);
 background: transparent;
 transform: translate(-50%, -50%);
}

.history-wrapper ul .stage:hover::after {
 filter: drop-shadow(0 0 3px var(--light-200-color));
}

.history-wrapper ul .stage .stage-description {
 transition: var(--transition-fast) all ease;
}

.history-wrapper ul .stage:hover .stage-description {
 transform: translateX(5px);
}

/* Color Changes */
.color-changes {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
}

.color-changes h2 {
 font-size: 1rem;
}

.color-changes-container {
 position: relative;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 1rem;
}

.color-changes-container .track-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.color-changes-container .track-container {
 position: relative;
 width: 3px;
 height: 300px;
 background: rgba(10, 53, 19, 0.5);
 border-radius: 5px;
}

.color-changes-container .track-container .handle {
 position: absolute;
 top: 0;
 left: 50%;
 width: 10px;
 height: 10px;
 background: var(--primary-color);
 border-radius: 50%;
 transform: translate(-50%, -50%);
 cursor: grab;
 z-index: 2;
}

.color-changes-container .track-container .handle > div {
 width: 100%;
 height: 100%;
 transition: var(--transition-very-fast) all ease;
 background: inherit;
 border-radius: 50%;
}

.color-changes-container .track-container .handle:hover > div {
 transform: scale(1.2);
 box-shadow: 0 0 5px var(--primary-color);
}

.color-changes-container .image-container {
 pointer-events: none;
 position: relative;
 flex: 1;
 max-width: 900px;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.color-changes-container .image-container .image-wrapper {
 position: absolute;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.color-changes-container .image-container .image-wrapper img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.75));
}

.color-changes-container .image-container .image-label {
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: bold;
}

@keyframes scaleUp {
 0% {
  transform: translate(-50%, -50%) scaleY(0);
 }

 100% {
  transform: translate(-50%, -50%) scaleY(1);
 }
}

@keyframes fadeOut {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
 }
}

@keyframes scaleRight {
 0% {
  transform: scaleX(0);
 }

 100% {
  transform: scaleX(1);
 }
}

@keyframes slideRight {
 0% {
  transform: translateX(-20px);
 }

 100% {
  transform: translateX(0);
 }
}

@keyframes slideLeft {
 0% {
  opacity: 1;
  transform: translateX(0);
 }

 100% {
  opacity: 0;
  transform: translateX(-20px);
 }
}

@keyframes locationAnim {
 0% {
  transform: translate(-50%, 0) scale(0);
 }

 50% {
  transform: translate(-50%, 0) scale(1);
  box-shadow: 0 0 10px var(--error-color);
 }

 100% {
  transform: translate(-50%, 0) scale(1);
  box-shadow: 0 0 10px var(--error-color);
 }
}

@keyframes locationBorderAnim {
 0% {
  transform: translate(-50%, 0) scale(1);
 }

 25% {
  transform: translate(-50%, 0) scale(1);
 }

 100% {
  transform: translate(-50%, 0) scale(1.5);
 }
}

@media (min-width: 300px) and (orientation: portrait) {
 .color-changes-container .image-container .image-wrapper {
  height: 100%;
  justify-content: space-between;
 }
}

@media (min-width: 300px) and (min-height: 700px) and (orientation: portrait) {
 .information-text {
  font-size: 1.25rem;
 }

 .history-wrapper .history-button {
  font-size: 1.5rem;
 }

 .history-wrapper ul {
  font-size: 14px;
 }

 .history-wrapper ul:before {
  height: calc(100vh - 17rem);
 }

 .color-changes h2 {
  font-size: 1.5rem;
 }

 .color-changes-container {
  flex-direction: column-reverse;
  height: 100%;
 }

 .color-changes-container .track-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  max-width: 768px;
  width: 100%;
 }

 .color-changes-container .track-wrapper div:first-child {
  grid-row: 2/3;
 }

 .color-changes-container .track-container {
  height: 3px;
  width: 100%;
  grid-column: 1/-1;
 }

 .color-changes-container .track-wrapper div:last-child {
  grid-column: 3/4;
 }

 .color-changes-container .track-container .handle {
  top: 50%;
  left: 0;
 }

 .color-changes .image-container .image-wrapper {
  height: min-content;
  justify-content: center;
  gap: 2rem;
 }

 .color-changes .image-container .image-wrapper img {
  height: auto;
 }
}

@media (min-width: 350px) and (min-height: 750px) and (orientation: portrait) {
 .history-wrapper ul {
  font-size: 16px;
 }
}

@media (min-width: 768px) and (orientation: portrait) {
 .about .about-container .kelimutu-information .information-text-wrapper {
  flex: 0 0 25%;
  justify-self: flex-end;
  gap: 3rem;
 }

 .history-wrapper ul {
  font-size: 1.25rem;
 }

 .color-changes-container .image-container .image-label {
  font-size: 2rem;
 }
}

@media (min-width: 768px) and (min-height: 1280px) and (orientation: portrait) {
 .about .header {
  min-height: 70px;
 }

 .about .header h2 {
  font-size: 1.5rem;
 }

 .about .header h2.active {
  font-size: 2.25rem;
 }

 .about .about-container .kelimutu-information .information-text,
 .history-wrapper ul {
  font-size: 1.75rem;
 }

 .history-wrapper .history-button {
  font-size: 2rem;
 }

 .history-wrapper ul:before {
  height: calc(100vh - 20rem);
 }

 .color-changes h2 {
  font-size: 2rem;
 }
}

@media (min-width: 768px) and (orientation: landscape) {
 .information-text .information-label {
  display: block;
 }

 .about .about-container .kelimutu-information {
  flex-direction: row;
  gap: 2rem;
 }

 .about .about-container .kelimutu-information .image-wrapper {
  flex: 100%;
 }

 .information-text-wrapper {
  flex: 100%;
  height: 50%;
 }

 .accordion-wrapper {
  grid-template-columns: repeat(6, 75px);
 }
}

@media (min-width: 1200px) {
 .about .header {
  padding: 2rem;
  font-size: 2rem;
 }

 .about .header h2 {
  font-size: 1.25rem;
 }

 .about .header h2.active {
  font-size: 2rem;
 }

 .history-wrapper {
  max-width: 90%;
 }

 .history-wrapper .history-button {
  font-size: 2rem;
 }

 .about .about-container .kelimutu-information .information-text,
 .history-wrapper ul {
  font-size: 1.25rem;
 }

 .color-changes h2 {
  font-size: 1.5rem;
 }

 .color-changes-container {
  flex: 1;
 }
 .color-changes-container .track-wrapper > div {
  font-size: 1.25rem;
 }

 .color-changes-container .track-container {
  width: 5px;
 }

 .color-changes-container .track-container .handle {
  width: 15px;
  height: 15px;
 }

 .color-changes-container .image-container .image-label {
  font-size: 2rem;
 }
}
