.hamburger {
 display: none;
 position: fixed;
 top: 1rem;
 right: 1rem;
 z-index: 4;
 color: var(--light-color);
 opacity: 0;
 animation: fadeIn 1.5s 2s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

.hamburger-button-wrapper {
 width: 100%;
 display: grid;
 grid-template-columns: 45px 35px;
 grid-auto-rows: 35px;
 align-items: stretch;
 justify-content: center;
 gap: 1rem;
}

/* Language */
.lang {
 flex: 0.15;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 font-size: 0.75rem;
}

.lang .lang-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 padding: 0.75rem 0.25rem;
 border-radius: 10px;
 cursor: pointer;
 transition: var(--transition-fast) all ease-in-out;
}

.lang .lang-wrapper::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100%;
 height: 100%;
 transform: translate(-50%, -50%);
 z-index: -1;
 backdrop-filter: blur(5px);
 border-radius: 5px;
 background-color: #0000004d;
}

.lang .lang-wrapper .lang-en,
.lang .lang-wrapper .lang-id {
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 padding: 0;
 flex: 0;
 opacity: 0;
 transition: var(--transition-fast) all ease-in-out;
 transform-origin: left;
 overflow: hidden;
}

.lang .lang-wrapper .active {
 white-space: nowrap;
 opacity: 1;
 flex: 1 1 auto;
}

/* Hamburger Button */
.hamburger-button {
 align-self: center;
 justify-self: center;
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 cursor: pointer;
 background: #0000004d;
 padding: 0.75rem 0.25rem;
 border-radius: 5px;
}

.hamburger-button div {
 width: 100%;
 height: 2px;
 background: var(--light-color);
 transition: var(--transition-fast) all ease;
 transform: rotate(0deg);
}

.hamburger-button.active div {
 transform: rotate(225deg);
}

.hamburger-button div::before,
.hamburger-button div::after {
 content: "";
 position: absolute;
 left: 0;
 width: 100%;
 height: 2px;
 background: var(--light-color);
 transform: rotate(0);
 transition: var(--transition-fast) all ease;
}

.hamburger-button div::before {
 top: -10px;
}

.hamburger-button div::after {
 bottom: -10px;
}

.hamburger-button.active div::before,
.hamburger-button.active div::after {
 transform: rotate(90deg);
 bottom: 0;
 top: 0;
}

/* Hamburger Menu */
.hamburger-menu {
 display: none;
 color: var(--light-color);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}

.hamburger-menu .hamburger-menu-container {
 position: relative;
 padding: 1rem;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-size: 1.5rem;
 transition: var(--transition-medium) all ease-in-out;
 transform: translateY(-5px);
 opacity: 0;
 padding: 1rem;
}

.hamburger-menu.active .hamburger-menu-container {
 transform: translateY(0);
 opacity: 1;
}

.hamburger-menu .hamburger-menu-container::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 backdrop-filter: blur(15px);
 background-color: rgba(0, 0, 0, 0.85);
 transition: var(--transition-medium) all ease;
}

.hamburger-menu.active .hamburger-menu-container::before {
 opacity: 1;
}

.hamburger-menu .hamburger-menu-container li {
 position: relative;
 width: 100%;
 height: 75px;
 transition: var(--transition-fast) all ease;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 1rem;
 overflow: hidden;
}

.hamburger-menu .hamburger-menu-container li::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 2px;
 background: var(--light-color);
}

.hamburger-menu .hamburger-menu-container li:last-of-type:after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 2px;
 background: var(--light-color);
}

.hamburger-menu .hamburger-menu-container li.active {
 color: #aafc06;
 font-weight: bold;
}

.hamburger-menu .hamburger-menu-container li:hover .section-label-wrapper {
 transform: translateY(-50px);
}

.hamburger-menu .hamburger-menu-container li .section-label-wrapper {
 transition: var(--transition-medium) all ease-in-out;
 height: min-content;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0.5;
}

.hamburger-menu .hamburger-menu-container li.active .section-label-wrapper {
 opacity: 1;
}

.hamburger-menu
 .hamburger-menu-container
 li
 .section-label-wrapper:nth-child(2) {
 position: absolute;
 bottom: -1rem;
 transform: translateY(50%);
 color: #aafc06;
 opacity: 0.75;
}

.hamburger-menu
 .hamburger-menu-container
 li:hover
 .section-label-wrapper:nth-child(2) {
 bottom: 50%;
}

@keyframes fadeIn {
 0% {
  opacity: 0;
  transform: translateY(-3px) scale(0.95);
 }

 75% {
  transform: translateY(0) scale(1);
 }

 100% {
  opacity: 1;
  transform: translateY(0) scale(1);
 }
}

@media (max-width: 500px) {
 .hamburger,
 .hamburger-menu {
  display: flex;
 }
}
