/* History */
.history-wrapper {
 height: calc(100% - 1rem);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.history-wrapper .history-button {
 color: var(--primary-color);
 display: grid;
 grid-template-columns: repeat(2, min-content);
 align-items: stretch;
 justify-content: space-between;
 gap: 1rem;
 width: 100%;
 font-weight: bold;
}

.history-wrapper .history-button .history-type {
 cursor: pointer;
 display: flex;
 align-items: end;
 justify-content: center;
 opacity: 0.5;
 transition: var(--transition-fast) all ease;
 transform: scale(0.75);
 transform-origin: bottom;
}

.history-wrapper .history-button .active {
 opacity: 1;
 transform: scale(1);
}

.history-wrapper ul {
 position: relative;
 height: calc(100% - 2rem);
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: column;
 font-size: clamp(12px, 2vw, 16px);
 gap: 1rem;
 padding: 1rem 0;
 width: 100%;
}

.history-wrapper ul .stage {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: start;
 width: 100%;
 padding: 0 1rem;
}

.history-wrapper ul .stage::before,
.history-wrapper ul .stage::after {
 content: "";
 position: absolute;
 left: 0;
 top: 50%;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 transition: var(--transition-fast) all ease;
 background: var(--primary-color);
 transform: translate(-50%, -50%) scale(0.65);
}

.history-wrapper ul .stage:hover::before {
 transform: translate(-50%, -50%) scale(1);
}

.history-wrapper ul .stage::after {
 border: 1px solid var(--primary-color);
 background: transparent;
 transform: translate(-50%, -50%);
}

.history-wrapper ul .stage:hover::after {
 filter: drop-shadow(0 0 3px var(--light-200-color));
}

.history-wrapper ul .stage .stage-description {
 position: relative;
 transition: var(--transition-fast) all ease;
}

.history-wrapper ul .stage:hover .stage-description {
 transform: translateX(5px);
}

@media (min-width: 300px) and (min-height: 700px) and (orientation: portrait) {
 .history-wrapper .history-button {
  font-size: 1.5rem;
 }

 .history-wrapper ul {
  font-size: 14px;
 }
}

@media (min-width: 350px) and (min-height: 750px) and (orientation: portrait) {
 .history-wrapper ul {
  font-size: 16px;
 }
}

@media (min-width: 768px) and (orientation: portrait) {
 .history-wrapper ul {
  font-size: 1.25rem;
 }
}

@media (min-width: 768px) and (min-height: 1280px) and (orientation: portrait) {
 .history-wrapper ul {
  font-size: 1.75rem;
 }

 .history-wrapper .history-button {
  font-size: 2rem;
 }
}

@media (min-width: 1200px) {
 .history-wrapper {
  max-width: 90%;
 }

 .history-wrapper .history-button {
  font-size: 2rem;
 }

 .history-wrapper ul {
  font-size: 1.25rem;
 }
}
