/* Utilities */
span.anchor-link {
 font-weight: 600;
 cursor: pointer;
 position: relative;
}

span.anchor-link:hover::before {
 transform: scaleX(1);
}

span.anchor-link::before {
 content: "";
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 1px;
 transform: scaleX(0);
 transform-origin: left;
 background: var(--primary-color);
 transition: var(--transition-fast) all ease;
}

/* Visitor Guide */
.visitor-guide {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 3rem 0;
}

.visitor-guide .header {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.visitor-guide .header h2 {
 text-align: center;
 font-size: 2rem;
}

/* Facilities */
.facilities-section {
 padding: 2rem;
 cursor: default;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
}

.facilities-container {
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 900px;
 width: 100%;
}

.facility-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(100px, 1fr);
 justify-content: center;
 align-items: stretch;
 width: 100%;
 overflow: hidden;
 padding: 1px;
}

.facility-container .facility-box {
 justify-self: center;
 position: relative;
 aspect-ratio: 1/1;
 max-width: 300px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-weight: bold;
 font-size: clamp(12px, 2vw, 16px);
 padding: 0.5rem;
 transition: var(--transition-very-fast) all ease;
}

.facility-container .facility-box:hover {
 background: #eee;
}

.facility-container .facility-box .facility {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;
 transition: var(--transition-very-fast) all ease;
}

.facility-container .facility-box:hover .facility {
 transform: scale(1.025);
}

.facility-container .facility-box .corner,
.facility-container .facility-box .corner.left-top {
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
 transition: var(--transition-fast) all ease-in-out;
 z-index: 1;
}

.facility-container .facility-box .corner.right-top {
 top: 0;
 left: 100%;
}

.facility-container .facility-box .corner.right-bottom {
 top: 100%;
 left: 100%;
}

.facility-container .facility-box .corner.left-bottom {
 top: 100%;
 left: 0;
}

.facility-container .facility-box:nth-child(1) .corner.left-top,
.facility-container .facility-box:nth-child(2) .corner.left-top,
.facility-container .facility-box:nth-child(3) .corner.left-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-bottom,
.facility-container .facility-box:nth-child(5) .corner.right-bottom,
.facility-container .facility-box:nth-child(6) .corner.right-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1) .corner.left-bottom,
.facility-container .facility-box:nth-child(2) .corner.left-bottom,
.facility-container .facility-box:nth-child(3) .corner.left-bottom,
.facility-container .facility-box:nth-child(4) .corner.left-bottom,
.facility-container .facility-box:nth-child(5) .corner.left-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1):hover .corner,
.facility-container .facility-box:nth-child(2):hover .corner,
.facility-container .facility-box:nth-child(3):hover .corner,
.facility-container .facility-box:nth-child(4):hover .corner,
.facility-container .facility-box:nth-child(5):hover .corner,
.facility-container .facility-box:nth-child(6):hover .corner {
 opacity: 1;
}

.facility-container .facility-box .corner::before {
 content: "";
 position: absolute;
 width: 15px;
 height: 1px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .corner::after {
 content: "";
 position: absolute;
 width: 1px;
 height: 15px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .icon {
 min-width: 50px;
 width: 75%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.facility-container .facility-box .label {
 text-align: center;
}

/* Do's and Don'ts */
.dosDonts {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
}

.dos-section,
.donts-section {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 padding: 0 1rem;
}

.visitor-guide .donts-section .header h2 {
 color: var(--warning-color);
}

.dos-section .dos-container,
.donts-section .donts-container {
 display: grid;
 align-items: stretch;
 justify-content: center;
 grid-template-columns: 1fr;
 grid-auto-rows: 1fr;
 gap: 1rem;
 width: 100%;
}

.dos-section .dos-container .item-wrapper,
.donts-section .donts-container .item-wrapper {
 flex: 1 0 100%;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 1rem;
 width: 100%;
 padding: 1rem;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 20px;
}

.dos-section .dos-container .item-wrapper:nth-child(odd),
.donts-section .donts-container .item-wrapper:nth-child(even) {
 flex-direction: row-reverse;
}

.dos-section .dos-container .icon-wrapper,
.donts-section .donts-container .icon-wrapper {
 position: absolute;
 left: 1rem;
 top: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 border: 1px solid var(--primary-color);
 background: var(--light-color);
 width: 60px;
 height: 60px;
 border-radius: 50%;
}

.dos-section .dos-container .icon-wrapper .icon,
.donts-section .donts-container .icon-wrapper .icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 position: relative;
}

.donts-section .donts-container .icon-wrapper .icon::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 border: 2px solid var(--dark-color);
 transform: translate(-50%, -50%);
}

.donts-section .donts-container .icon-wrapper .icon::after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 80%;
 height: 3px;
 background: var(--dark-color);
 transform: translate(-50%, -50%) rotate(45deg);
}

.dos-section .dos-container .icon-wrapper svg,
.donts-section .donts-container .icon-wrapper svg {
 width: 60%;
 height: auto;
}

.dos-section .dos-container .item-wrapper:nth-child(even) .icon-wrapper,
.donts-section .donts-container .item-wrapper:nth-child(odd) .icon-wrapper {
 left: calc(100% - 1rem);
 transform: translate(-50%, -50%);
}

.dos-section .dos-container .item-wrapper .label,
.donts-section .donts-container .item-wrapper .label {
 font-size: 0.8rem;
 font-weight: bold;
 flex: 0 0 90%;
}

.dos-section .dos-container .item-wrapper:nth-child(odd) .label,
.donts-section .donts-container .item-wrapper:nth-child(even) .label {
 text-align: right;
}

.donts-section .donts-container .item-wrapper:last-child .label {
 font-size: 0.75rem;
}

.donts-section .donts-container .item-wrapper {
 background: var(--warning-color);
 color: var(--dark-color);
}

.donts-section .donts-container .icon-wrapper {
 border: 1px solid var(--warning-color);
}

/* Faq */
.faq {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background: #f4f6f5;
 padding: 1rem;
 gap: 1rem;
}

.faq .header {
 justify-content: start;
 align-items: start;
 text-align: left;
 gap: 0;
}

.faq .header h2 {
 padding-bottom: 3rem;
}

.faq .header .faq-icon-wrapper {
 display: none;
}

.faq .header .bottom {
 display: none;
}

.faq .faq-container {
 display: flex;
 align-items: stretch;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 padding: 0.5rem;
 border-radius: 10px;
 width: 100%;
}

.faq .faq-container .faq-wrapper {
 display: flex;
 align-items: stretch;
 justify-content: center;
 flex-direction: column;
 position: relative;
}

.faq .faq-container .faq-wrapper::before {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 1px;
 background: var(--primary-color);
}

.faq .faq-container .faq-wrapper .question-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-weight: 700;
 gap: 1rem;
 padding: 0.75rem;
 cursor: pointer;
}

.faq .faq-container .faq-wrapper .question-wrapper i {
 transition: var(--transition-fast) all ease;
}

.faq .faq-container .faq-wrapper .question-wrapper.active i {
 transform: rotate(180deg);
}

.faq .faq-container .faq-wrapper .answer-wrapper {
 padding: 0.5rem 2rem;
 width: auto;
}

.faq .bottom {
 width: 100%;
}

@media (min-width: 768px) {
 .facilities-section {
  background: #f4f6f5;
  box-shadow: inset 0 0 3px var(--light-200-color);
 }

 .dosDonts {
  padding: 1rem;
  position: relative;
  flex-direction: row;
 }

 .visitor-guide .header h2 {
  font-size: 3rem;
 }

 .facility-container .facility-box .corner {
  transform: translate(-50%, -50%) scale(2);
 }

 .dosDonts::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: var(--primary-color);
  opacity: 0.25;
  z-index: -1;
 }

 .dos-section .dos-container,
 .donts-section .donts-container {
  grid-auto-rows: 75px;
  transition: var(--transition-fast) all ease;
  opacity: 0.9;
 }

 .dos-section:hover .dos-container,
 .donts-section:hover .donts-container {
  opacity: 1;
  transform: translateY(-5px);
 }

 .dos-section .dos-container .icon-wrapper,
 .donts-section .donts-container .icon-wrapper {
  width: 75px;
  height: 75px;
 }

 .dos-section .dos-container .item-wrapper .label,
 .donts-section .donts-container .item-wrapper .label,
 .donts-section .donts-container .item-wrapper:last-child .label {
  font-size: 1rem;
 }

 /* FAQ */
 .faq {
  max-width: 85%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 0 3px var(--light-200-color);
  border-radius: 25px;
  gap: 2rem;
 }

 .faq .header h2 {
  font-size: 3rem;
  padding-bottom: 0;
 }

 .faq .bottom {
  display: none;
 }

 .faq .header .bottom {
  display: block;
 }

 .faq .header {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  text-align: left;
 }

 .faq .header h2 {
  text-align: left;
 }

 .faq .header .faq-icon-wrapper {
  display: flex;
  max-width: 250px;
  width: 100%;
  height: 100%;
 }

 .faq .faq-container {
  height: 100%;
  border: none;
  justify-content: space-between;
  grid-column: 2/3;
  grid-row: 1 / 3;
 }
}
