.visitor-guide {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 0.5rem;
}

.visitor-guide .header {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.visitor-guide .header h2 {
 text-align: center;
 font-size: 2rem;
}

/* Facilities */
.facilities-container {
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 750px;
 width: 100%;
 padding: 1rem;
}

.facility-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(100px, 1fr);
 justify-content: center;
 align-items: stretch;
 width: 100%;
}

.facility-container .facility-box {
 position: relative;
 aspect-ratio: 1/1;
 max-width: 250px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-weight: bold;
 font-size: 12px;
 padding: 0.5rem;
}

.facility-container .facility-box .corner,
.facility-container .facility-box .corner.left-top {
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
 transition: var(--transition-fast) all ease-in-out;
 z-index: -1;
}

.facility-container .facility-box .corner.right-top {
 top: 0;
 left: 100%;
}

.facility-container .facility-box .corner.right-bottom {
 top: 100%;
 left: 100%;
}

.facility-container .facility-box .corner.left-bottom {
 top: 100%;
 left: 0;
}

.facility-container .facility-box:nth-child(1) .corner.left-top,
.facility-container .facility-box:nth-child(2) .corner.left-top,
.facility-container .facility-box:nth-child(3) .corner.left-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-top {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(3) .corner.right-bottom,
.facility-container .facility-box:nth-child(5) .corner.right-bottom,
.facility-container .facility-box:nth-child(6) .corner.right-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1) .corner.left-bottom,
.facility-container .facility-box:nth-child(2) .corner.left-bottom,
.facility-container .facility-box:nth-child(3) .corner.left-bottom,
.facility-container .facility-box:nth-child(4) .corner.left-bottom,
.facility-container .facility-box:nth-child(5) .corner.left-bottom {
 opacity: 0.3;
}

.facility-container .facility-box:nth-child(1):hover .corner,
.facility-container .facility-box:nth-child(2):hover .corner,
.facility-container .facility-box:nth-child(3):hover .corner,
.facility-container .facility-box:nth-child(4):hover .corner,
.facility-container .facility-box:nth-child(5):hover .corner,
.facility-container .facility-box:nth-child(6):hover .corner {
 opacity: 1;
}

.facility-container .facility-box .corner::before {
 content: "";
 position: absolute;
 width: 15px;
 height: 1px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .corner::after {
 content: "";
 position: absolute;
 width: 1px;
 height: 15px;
 background: var(--primary-color);
 transform: translate(-50%, -50%);
 border-radius: 100%;
}

.facility-container .facility-box .facility {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;
}

.facility-container .facility-box .icon {
 min-width: 50px;
 width: 75%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.facility-container .facility-box .label {
 text-align: center;
}
