/* Hero section */
.hero {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 color: var(--light-color);
 background: url("/background/background.jpg") center center / cover no-repeat;
 width: 100%;
}

.hero * {
 z-index: 1;
}

.hero::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.25) 0%,
  var(--dark-color) 85%
 );
 opacity: 0.85;
 z-index: 1;
}

.hero::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 inset: 0;
 transform: scale(100%, 100%);
 transform-origin: center;
 background: var(--dark-color);
 animation: fadeOut 1s cubic-bezier(0.2, 0.5, 0.2, 0.7) 1s forwards;
 z-index: 0;
}

.hero .hero-opening-layer {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--dark-color);
 z-index: 0;
}

/* Logo */
.hero .logo {
 position: absolute;
 top: 1.75rem;
 left: 1rem;
 display: flex;
 align-items: center;
 justify-self: center;
 gap: 1rem;
 opacity: 0;
 animation: fadeIn 1.5s 2s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

.hero .logo .ministry-logo,
.hero .logo .unit-logo {
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 width: 100%;
 height: 100%;
 width: 45px;
 height: 45px;
}

.hero .logo .ministry-logo img,
.hero .logo .unit-logo img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 border-radius: 50%;
}

.hero-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 1rem;
 height: 100vh;
}

.hero-container .title {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 cursor: default;
}

.hero-container .title .hero-title {
 font-size: 3rem;
}

.hero-container .title .hero-title h1 {
 font-size: 3rem;
 transform: translateY(1rem);
 animation: slideUp 1.5s 1.5s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

.hero-container .title .hero-subtitle h3 {
 opacity: 0;
 animation: slideIn 1.5s 2s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

/* Scroll Button */
.hero-bottom {
 position: absolute;
 bottom: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 width: 100%;
 opacity: 0;
 animation: slideIn 1.5s 2s cubic-bezier(0.2, 0.5, 0.2, 0.7) forwards;
}

.scroll-button {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 opacity: 0.25;
}

.button-icon {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid var(--light-color);
 border-radius: 10px;
 width: 20px;
 height: 35px;
 overflow: hidden;
}

.button-icon::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 2px;
 height: 35%;
 background-color: var(--light-color);
 transform: translate(-50%, -80%);
 transform-origin: top;
 opacity: 0;
 animation: scrollInner 2.5s ease 0.5s infinite;
}

@keyframes fadeOut {
 to {
  opacity: 0;
 }
}

@keyframes fadeIn {
 0% {
  opacity: 0;
  transform: translateY(-3px) scale(0.95);
 }

 75% {
  transform: translateY(0) scale(1);
 }

 100% {
  opacity: 1;
  transform: translateY(0) scale(1);
 }
}

@keyframes slideUp {
 0% {
  transform: translateY(1rem);
 }

 75% {
  transform: translateY(0);
 }

 100% {
  transform: translateY(0);
 }
}

@keyframes slideIn {
 0% {
  opacity: 0;
  transform: translateY(3px) scale(0.95);
 }

 75% {
  transform: translateY(0) scale(1);
 }

 100% {
  opacity: 1;
  transform: translateY(0) scale(1);
 }
}

@keyframes scrollInner {
 0%,
 90%,
 100% {
  opacity: 0;
  transform: translate(-50%, -80%);
 }

 15% {
  opacity: 1;
  transform: translate(-50%, -80%);
 }

 50% {
  opacity: 1;
  transform: translate(-50%, -20%);
 }

 55% {
  opacity: 0;
  transform: translate(-50%, -20%);
 }
}

@media (max-width: 600px) {
 .hero .logo {
  top: 1rem;
  left: 1rem;
  padding: 0;
 }

 .hero .logo .ministry-logo,
 .hero .logo .unit-logo {
  width: 35px;
  height: 35px;
 }
}
