/* Do's and Don'ts */
.rules {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
}

.dos-header,
.donts-header {
 align-items: start;
 text-align: left;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.dos-header h2,
.donts-header h2 {
 text-align: center;
 font-size: 2rem;
}

.donts-header h2 {
 color: var(--warning-color);
}

.dos-section,
.donts-section {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 padding: 0 1rem;
}

.dos-section .dos-container,
.donts-section .donts-container {
 display: grid;
 align-items: stretch;
 justify-content: center;
 grid-template-columns: 1fr;
 grid-auto-rows: 1fr;
 gap: 1rem;
 width: 100%;
}

.dos-section .dos-container .item-wrapper,
.donts-section .donts-container .item-wrapper {
 flex: 1 0 100%;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 1rem;
 width: 100%;
 padding: 1rem;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 20px;
}

.dos-section .dos-container .item-wrapper:nth-child(odd),
.donts-section .donts-container .item-wrapper:nth-child(even) {
 flex-direction: row-reverse;
}

.dos-section .dos-container .icon-wrapper,
.donts-section .donts-container .icon-wrapper {
 position: absolute;
 left: 1rem;
 top: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 border: 1px solid var(--primary-color);
 background: var(--light-color);
 width: 60px;
 height: 60px;
 border-radius: 50%;
}

.dos-section .dos-container .icon-wrapper .icon,
.donts-section .donts-container .icon-wrapper .icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 position: relative;
}

.donts-section .donts-container .icon-wrapper .icon::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 border: 2px solid var(--dark-color);
 transform: translate(-50%, -50%);
}

.donts-section .donts-container .icon-wrapper .icon::after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 80%;
 height: 3px;
 background: var(--dark-color);
 transform: translate(-50%, -50%) rotate(45deg);
}

.dos-section .dos-container .icon-wrapper svg,
.donts-section .donts-container .icon-wrapper svg {
 width: 60%;
 height: auto;
}

.dos-section .dos-container .item-wrapper:nth-child(even) .icon-wrapper,
.donts-section .donts-container .item-wrapper:nth-child(odd) .icon-wrapper {
 left: calc(100% - 1rem);
 transform: translate(-50%, -50%);
}

.dos-section .dos-container .item-wrapper .label,
.donts-section .donts-container .item-wrapper .label {
 font-size: 0.8rem;
 font-weight: bold;
 flex: 0 0 90%;
}

.dos-section .dos-container .item-wrapper:nth-child(odd) .label,
.donts-section .donts-container .item-wrapper:nth-child(even) .label {
 text-align: right;
}

.donts-section .donts-container .item-wrapper:last-child .label {
 font-size: 0.75rem;
}

.donts-section .donts-container .item-wrapper {
 background: var(--warning-color);
 color: var(--dark-color);
}

.donts-section .donts-container .icon-wrapper {
 border: 1px solid var(--warning-color);
}

@media (min-width: 768px) {
 .rules {
  padding: 1rem;
  position: relative;
  flex-direction: row;
 }

 .dos-header h2,
 .donts-header h2 {
  padding-bottom: 3rem;
  font-size: 3rem;
 }

 .rules::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: var(--primary-color);
  opacity: 0.25;
  z-index: -1;
 }

 .dos-section .dos-container,
 .donts-section .donts-container {
  grid-auto-rows: 75px;
  transition: var(--transition-fast) all ease;
  opacity: 0.9;
 }

 .dos-section:hover .dos-container,
 .donts-section:hover .donts-container {
  opacity: 1;
  transform: translateY(-5px);
 }

 .dos-section .dos-container .icon-wrapper,
 .donts-section .donts-container .icon-wrapper {
  width: 75px;
  height: 75px;
 }

 .dos-section .dos-container .item-wrapper .label,
 .donts-section .donts-container .item-wrapper .label,
 .donts-section .donts-container .item-wrapper:last-child .label {
  font-size: 1rem;
 }
}
