/* Util */
a {
 display: block;
 text-decoration: none;
 color: var(--primary-color);
 font-family: inherit;
}

.contact {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 color: var(--primary-color);
 overflow: hidden;
 width: 100%;
 background: #f7f9f8;
}

.contact .header {
 padding: 3rem 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
 position: relative;
}

.contact .header::before {
 content: "";
 width: 100%;
 top: 0;
 left: 0;
 background: var(--primary-color);
 height: 2px;
 opacity: 0.75;
}

.contact .header h2 {
 text-align: center;
 font-size: 2rem;
}

.contact-section {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem;
 gap: 2rem;
}

.contact-section .unit-information {
 justify-self: center;
 grid-column: 1 / -1;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1.5rem;
 width: 75%;
}

.contact-section .brand-logo {
 min-width: 200px;
 height: auto;
 object-fit: cover;
 display: flex;
 align-items: center;
 justify-content: center;
}

.contact-section .unit-name {
 font-weight: 600;
}

.contact-section .contact-group {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 gap: 1rem;
}

.contact-section .contact-list {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.contact-section .contact-list .contact-wrapper {
 display: flex;
 align-items: center;
 justify-content: start;
 gap: 1rem;
 width: 100%;
}

.contact-section .contact-list .contact-wrapper .contact-icon,
.contact-section .media-list .media-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 30px;
 height: 30px;
}

.contact-section .media-list {
 justify-self: center;
 display: grid;
 grid-template-columns: repeat(2, minmax(30px, 1fr));
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.contact-section .media-list .media-wrapper {
 justify-self: center;
 display: flex;
 align-items: center;
 justify-content: center;
 width: min-content;
}

.contact-section .media-list .media-label {
 display: none;
}

.contact-section .media-list .arrow-icon {
 display: none;
}

@media (min-width: 900px) {
 .contact .header h2 {
  font-size: 3rem;
 }

 .contact-section {
  max-width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0;
 }

 .contact-section .unit-information {
  flex: 0 0 260px;
  max-width: 260px;
  align-items: start;
  width: 100%;
 }

 .contact-section .contact-group {
  flex: 1 1 360px;
  max-width: 700px;
  justify-content: space-between;
  align-items: start;
 }

 .contact-section .media-list .media-wrapper {
  width: 100%;
  gap: 1rem;
  justify-content: start;
  opacity: 0.75;
  transition: var(--transition-medium) all ease;
 }

 .contact-section .media-list .media-wrapper:hover {
  opacity: 1;
 }

 .contact-section .media-list .media-wrapper .media-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  flex: 1;
 }

 .contact-section .media-list .media-wrapper .arrow-icon {
  display: block;
  transition: var(--transition-very-fast) opacity ease-in-out,
   var(--transition-very-fast) transform 0.25s ease-in-out;
  opacity: 0;
  transform-origin: left;
  transform: translateY(25%) scale(0) rotate(-45deg);
 }

 .contact-section .media-list .media-wrapper:hover .arrow-icon {
  opacity: 1;
  transform: translateY(25%) scale(1) rotate(-45deg);
 }

 .contact-section .media-list .media-label {
  display: block;
 }
}
