.visiting-hours {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.visiting-hours .header {
 width: 100%;
 height: 75px;
 background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.85) 0%,
  var(--dark-color) 1%
 );
 border-end-end-radius: 35px;
 border-end-start-radius: 35px;
 transform: translateY(-5px);
 color: var(--light-color);
 display: flex;
 align-items: center;
 justify-content: center;
}

.visiting-hours-container {
 width: 100%;
 display: grid;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.visiting-hours-container .card-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 border: 2px solid var(--primary-color);
 border-radius: 10px;
 gap: 1rem;
}

.visiting-hours-container .card-container .card-background {
 position: absolute;
 top: calc(50% - 25px);
 left: calc(50% - 25px);
 z-index: -1;
 width: 50px;
 height: 50px;
 object-fit: contain;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0.25;
}

.visiting-hours-container .card-container .card-content {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 0.5rem;
 color: var(--primary-color);
}

.visiting-hours-container .card-container:first-child .card-content {
 flex-direction: column-reverse;
}

.visiting-hours-container .card-container .card-content .title {
 font-weight: bold;
}
