.visiting-hours {
 margin-top: 3rem;
 padding: 1rem;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3rem;
}

.visiting-hours .header {
 width: 100%;
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: center;
}

.visiting-hours .header h2 {
 font-size: 2rem;
}

.visiting-hours-container {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 grid-auto-rows: minmax(150px, auto);
 align-items: center;
 justify-content: center;
 gap: 1rem;
 padding: 1rem;
}

.visiting-hours-container .card-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 box-shadow: 0 0 3px var(--primary-color);
 border-radius: 10px;
 gap: 1rem;
 height: 100%;
 transition: 0.25s all ease;
 color: var(--primary-color);
}

.visiting-hours-container .card-container:hover {
 background: var(--primary-color);
 color: var(--light-color);
}

.visiting-hours-container .card-container .card-background {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: -1;
 width: 75px;
 height: 75px;
 object-fit: contain;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0.15;
 transition: var(--transition-medium) all ease;
}

.visiting-hours-container .card-container .card-content {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}

.visiting-hours-container .card-container .card-content > div {
 flex: 1;
}

.visiting-hours-container .card-container .card-content .main-information {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.visiting-hours-container
 .card-container:first-child
 .card-content
 .main-information {
 flex-direction: column-reverse;
}

.visiting-hours-container .card-container .card-content .title {
 font-weight: bold;
 text-align: center;
}

.visiting-hours-container .card-container .card-content .detail {
 opacity: 0;
 overflow: hidden;
 flex: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: 0.3s all ease;
 max-height: 0;
}

.visiting-hours-container .card-container:hover .card-content .detail {
 opacity: 1;
 flex: 1;
 max-height: 100px;
}

.visiting-hours-container .card-container .card-content .detail p {
 transform: scaleX(0);
 transform-origin: left;
 transition: 0.3s all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
 opacity: 0;
}

.visiting-hours-container .card-container:hover .card-content .detail p {
 transform: scaleX(1);
 opacity: 1;
}

.visiting-hours-container .card-container:nth-child(2) .card-background {
 top: 80%;
 transform: translate(-50%, -50%);
}

.visiting-hours-container .card-container:hover .card-background {
 color: var(--light-color);
 z-index: 1;
}

.visiting-hours-container .card-container:nth-child(2):hover .card-background {
 opacity: 0.75;
 filter: drop-shadow(0 0 20px #f6eb00);
}

@media (min-width: 550px) {
 .visiting-hours-container {
  grid-template-columns: repeat(2, minmax(200px, 600px));
 }

 .visiting-hours-container .card-container:first-child {
  grid-column: 1 / -1;
 }
}

@media (min-width: 1100px) {
 .visiting-hours {
  max-width: 80%;
 }

 .visiting-hours-container {
  grid-auto-rows: 200px;
  font-size: 1.25rem;
 }
}
