.arboretum {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: start;
 color: var(--primary-color);
 flex-direction: column;
 gap: 3rem;
 padding: 1rem;
}

.arboretum .header h2 {
 font-size: 2rem;
 text-align: center;
}

.arboretum .arboretum-container {
 display: grid;
 grid-template-columns: 1fr;
 grid-auto-rows: min-content;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 height: 100%;
}

.arboretum .arboretum-container .arboretum-text {
 line-height: 21px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.arboretum-images {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 height: 450px;
 overflow: hidden;
}

.arboretum-images .image-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 border-radius: 15px;
 box-shadow: inset 0 0 5px var(--dark-color), 0 0 5px var(--dark-color);
 overflow: hidden;
}

.arboretum-images .image-wrapper img {
 position: relative;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
