.arboretum {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: start;
 color: var(--primary-color);
 flex-direction: column;
 gap: 3rem;
 padding: 1rem;
 overflow: hidden;
 background: #f4f6f5;
}

.arboretum .header {
 padding-top: 2rem;
}

.arboretum .header h2 {
 font-size: 2rem;
 text-align: center;
}

.arboretum .arboretum-container {
 padding: 1rem;
 width: 100%;
 display: grid;
 grid-template-columns: 1fr;
 grid-auto-rows: min-content;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.arboretum .arboretum-container .arboretum-text {
 line-height: 1.3;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.main-image {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 overflow: hidden;
 height: 100%;
}

.image-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 overflow: hidden;
}

.image-wrapper::before {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: radial-gradient(
  ellipse at center,
  rgba(0, 0, 0, 0) 75%,
  rgba(0, 0, 0, 0.8) 100%
 );
 z-index: 1;
}

.image-wrapper img {
 position: relative;
 height: 100%;
 width: 100%;
 object-fit: cover;
 display: flex;
 align-items: center;
 justify-content: center;
}

.image-wrapper .label {
 letter-spacing: 2px;
 font-weight: bolder;
 position: absolute;
 color: var(--light-color);
 bottom: 3rem;
 z-index: 2;
}

.thumbnails {
 grid-column: 1 / 2;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 height: 100%;
 align-items: center;
 justify-content: center;
 transition: var(--transition-medium) all ease;
}

.thumbnails .image-wrapper {
 height: 100%;
 transition: var(--transition-medium) all ease;
}

.thumbnails .image-wrapper::before {
 width: 100%;
 height: 100%;
 background: var(--dark-color);
 opacity: 0.25;
}

.thumbnails .image-wrapper .label {
 bottom: auto;
 top: 50%;
 left: 50%;
 white-space: nowrap;
 transform: translate(-50%, -50%);
}

.image-wrapper .latin {
 position: absolute;
 top: 75%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: var(--light-color);
 font-size: 0.75rem;
 font-style: italic;
 z-index: 1;
 opacity: 0;
 text-align: center;
 transition: var(--transition-fast) all ease;
}

.thumbnails .image-wrapper:hover .latin {
 opacity: 1;
}

@media (min-width: 700px) {
 .arboretum .arboretum-container {
  grid-template-columns: 1.25fr 0.5fr;
  grid-template-rows: min-content 300px;
  height: 100%;
  gap: 0;
 }

 .arboretum .main-image {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
 }

 .arboretum .arboretum-text {
  text-align: left;
 }

 .thumbnails {
  padding: 0 2rem;
 }
}

@media (min-width: 1200px) {
 .arboretum {
  padding: 1rem;
  border-radius: 35px;
  width: 90%;
  background: #eef1f7;
  gap: 1rem;
 }

 .arboretum .arboretum-text {
  font-size: 1.15rem;
  padding: 2rem;
 }

 .image-wrapper .label {
  font-size: 1.5rem;
 }

 .image-wrapper .latin {
  font-size: 1rem;
 }
}
