/* Cost Calculator */
.header {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.header h2 {
 text-align: center;
 font-size: 2rem;
}

.calculator-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 padding: 3rem 1rem;
 border-radius: 15px;
 width: 100%;
}

.category-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 border: 1px solid var(--primary-color);
 border-radius: 15px;
}

.category-container {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 width: 100%;
 border-radius: 15px;
 padding: 0.5rem;
}

.category-container > div {
 min-height: 100px;
}

.category {
 flex: 0.75;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.category .category-label {
 font-weight: 700;
}

.category .checkbox-wrapper {
 cursor: pointer;
 display: flex;
 align-items: center;
}

.category .checkbox-wrapper .checkbox-input {
 display: none;
}

.category .checkbox-wrapper label {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 0.5rem;
 cursor: pointer;
}

.category .checkbox-wrapper .checkbox-display {
 position: relative;
 width: 15px;
 height: 15px;
 border: 1px solid var(--primary-color);
 border-radius: 25%;
 opacity: 0.5;
 overflow: hidden;
 background: var(--light-color);
}

.category .checkbox-wrapper .checkbox-display.checked {
 opacity: 1;
}

.category .checkbox-wrapper .checkbox-display::before {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 width: 12.5px;
 height: 12.5px;
 transform: translate(-50%, -50%);
 background: var(--primary-color);
 border-radius: 25%;
 opacity: 0;
}

.category .checkbox-wrapper .checkbox-display.checked::before {
 opacity: 1;
}

.field-wrapper {
 position: relative;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
}

.field-wrapper::before {
 content: "";
 position: absolute;
 top: 50%;
 right: calc(100% + 0.5rem);
 width: 1px;
 height: calc(100% + 1rem);
 transform: translate(-100%, -50%);
 background-color: var(--primary-color);
}

.type-wrapper {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 width: 100%;
 gap: 0.5rem;
 flex: 100%;
}

.type-wrapper.bordered {
 position: relative;
}

.type-wrapper.bordered::before {
 content: "";
 position: absolute;
 bottom: calc(100% + 0.25rem);
 left: 50%;
 width: calc(100% + 1rem);
 height: 2px;
 transform: translate(-50%, -150%);
 background: var(--primary-color);
 opacity: 0.25;
}

.type-wrapper .dropdown {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.type-wrapper .dropdown .trigger {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 text-align: right;
 border-bottom: 1px solid var(--primary-color);
 padding: 0.25rem 0;
 cursor: pointer;
 font-weight: 600;
 transition: var(--transition-fast) all ease;
}

.type-wrapper .dropdown .trigger:hover {
 filter: brightness(1.5);
}

.type-wrapper .dropdown .trigger i {
 transition: var(--transition-fast) all ease;
}

.type-wrapper .dropdown.active .trigger i {
 transform: rotate(180deg);
}

.type-wrapper .options {
 width: 100%;
 position: absolute;
 top: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 padding: 0.5rem;
 gap: 0.5rem;
 background: var(--light-200-color);
 border: 1px solid var(--primary-color);
 border-top: none;
 border-end-end-radius: 10px;
 border-end-start-radius: 10px;
 z-index: 1;
}

.type-wrapper .option {
 text-align: right;
 width: 100%;
 border-bottom: 1px solid var(--primary-color);
 padding: 0.5rem 0;
 transition: var(--transition-medium) all ease;
 cursor: pointer;
}

.type-wrapper .option:hover {
 filter: brightness(0.5);
}

.type-wrapper .option .option-wrapper {
 transition: var(--transition-fast) all ease;
}

.type-wrapper .option .option-wrapper:hover {
 transform: translateX(-5px);
}

.type-wrapper .region-wrapper,
.type-wrapper .count-wrapper {
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: space-between;
 width: 100%;
 gap: 0.5rem;
 text-align: left;
}

.type-wrapper .region-wrapper {
 flex-direction: row;
 overflow: hidden;
 font-size: 0.75rem;
}

.type-wrapper .region-wrapper .input-wrapper label:hover {
 background: var(--primary-color);
 color: var(--light-color);
 filter: brightness(1.2);
}

.type-wrapper .region-wrapper .input-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.type-wrapper .region-wrapper .input-wrapper input[type="radio"] {
 display: none;
}

.type-wrapper .region-wrapper .input-wrapper label {
 padding: 3px 7px;
 border-radius: 10px;
 cursor: pointer;
 transition: all 0.2s;
 background-color: var(--light-200-color);
 color: var(--primary-color);
 border: 1px solid var(--primary-color);
 transition: var(--transition-fast) all ease;
}

.type-wrapper
 .region-wrapper
 .input-wrapper
 input[type="radio"]:checked
 + label {
 background-color: var(--primary-color);
 color: var(--light-color);
}

.type-wrapper .count-wrapper .sub-label {
 font-size: 0.75rem;
}

.type-wrapper .count-wrapper .counter {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 justify-content: center;
 width: 100%;
 gap: 0.5rem;
 text-align: center;
}

.type-wrapper .count-wrapper .count-value {
 grid-column: 2;
}

.type-wrapper .count-wrapper .decrease-button,
.type-wrapper .count-wrapper .increase-button {
 justify-self: center;
 cursor: pointer;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 50%;
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 transition: var(--transition-fast) all ease;
}

.type-wrapper .count-wrapper .decrease-button:hover,
.type-wrapper .count-wrapper .increase-button:hover,
.type-wrapper .remove-button:hover {
 filter: brightness(1.2);
}

.type-wrapper .remove-button {
 cursor: pointer;
 position: absolute;
 left: 100%;
 top: 5px;
 transform: translate(0, -50%);
 width: 20px;
 height: 20px;
 border: 1px solid var(--primary-color);
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.5rem;
 background: var(--error-color);
 color: var(--light-color);
 padding: 5px;
 transition: var(--transition-fast) all ease;
}

.add-type-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 width: 100%;
 border-top: 1px solid var(--primary-color);
 padding: 1rem;
 cursor: pointer;
 transition: var(--transition-fast) all ease;
 border-end-end-radius: 13px;
 border-end-start-radius: 13px;
}

.add-type-wrapper:hover {
 background: var(--primary-color);
 color: var(--light-color);
}

/* Total */
.total-container {
 position: absolute;
 top: 100%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1rem;
 background: var(--primary-color);
 color: var(--light-color);
 border-radius: 15px;
 width: min(900px, 60%);
}

.total-container .total {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
}

.note {
 align-self: start;
}

@media (min-width: 700px) {
 .header h2 {
  text-align: left;
  align-self: start;
  font-size: 3rem;
 }

 /* Calculator */
 .calculator-container {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
 }

 .calculator-container .category-wrapper.photoVideo {
  grid-row: 2/4;
 }

 .calculator-container .category-wrapper.drone {
  grid-column: 2/3;
 }
}
