@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root {
 --dark-color: #000000;
 --dark-200-color: #333333;
 --primary-color: #1a5319;
 --light-color: #ffffff;
 --light-200-color: #f4f4f4;

 --error-color: #ff4c4c;
 --warning-color: #ffc107;

 --transition-very-fast: 0.15s;
 --transition-fast: 0.25s;
 --transition-medium: 0.3s;
 --transition-slow: 0.5s;
 --transition-very-slow: 1s;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 font-family: "manrope", sans-serif;
 line-height: 1.2;
 background: var(--light-color);
 position: relative;
}

#root {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100%;
}

main {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
}
