/* Utilities */
span.anchor-link {
 font-weight: 600;
 cursor: pointer;
 position: relative;
}

span.anchor-link:hover::before {
 transform: scaleX(1);
}

span.anchor-link::before {
 content: "";
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 1px;
 transform: scaleX(0);
 transform-origin: left;
 background: var(--primary-color);
 transition: var(--transition-fast) all ease;
}

/* Faq */
.faq {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background: #f4f6f5;
 padding: 1rem;
 gap: 1rem;
}

.faq-header {
 align-items: start;
 text-align: left;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
}

.faq-header h2 {
 padding-bottom: 3rem;
 text-align: center;
 font-size: 2rem;
}

.faq-header .faq-icon-wrapper {
 display: none;
}

.faq-header .bottom {
 display: none;
}

.faq .faq-container {
 display: flex;
 align-items: stretch;
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 border: 1px solid var(--primary-color);
 padding: 0.5rem;
 border-radius: 10px;
 width: 100%;
}

.faq .faq-container .faq-wrapper {
 display: flex;
 align-items: stretch;
 justify-content: center;
 flex-direction: column;
 position: relative;
}

.faq .faq-container .faq-wrapper::before {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 1px;
 background: var(--primary-color);
}

.faq .faq-container .faq-wrapper .question-wrapper {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-weight: 700;
 gap: 1rem;
 padding: 0.75rem;
 cursor: pointer;
}

.faq .faq-container .faq-wrapper .question-wrapper i {
 transition: var(--transition-fast) all ease;
}

.faq .faq-container .faq-wrapper .question-wrapper.active i {
 transform: rotate(180deg);
}

.faq .faq-container .faq-wrapper .answer-wrapper {
 padding: 0.5rem 2rem;
 width: auto;
}

.faq .bottom {
 width: 100%;
}

@media (min-width: 768px) {
 /* FAQ */
 .faq {
  max-width: 85%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 0 3px var(--light-200-color);
  border-radius: 25px;
  gap: 2rem;
 }

 .faq-header h2 {
  font-size: 3rem;
  padding-bottom: 0;
 }

 .faq .bottom {
  display: none;
 }

 .faq-header .bottom {
  display: block;
 }

 .faq-header {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  text-align: left;
 }

 .faq-header h2 {
  text-align: left;
 }

 .faq-header .faq-icon-wrapper {
  display: flex;
  max-width: 250px;
  width: 100%;
  height: 100%;
 }

 .faq .faq-container {
  height: 100%;
  border: none;
  justify-content: space-between;
  grid-column: 2/3;
  grid-row: 1 / 3;
 }
}
