/* Visitor Guide */
.visitor-guide {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 3rem 0;
}
