/* Utilities */
span.anchor-link {
 font-weight: 600;
 cursor: pointer;
 position: relative;
}

span.anchor-link:hover::before {
 transform: scaleX(1);
}

span.anchor-link::before {
 content: "";
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 1px;
 transform: scaleX(0);
 transform-origin: left;
 background: var(--primary-color);
 transition: var(--transition-fast) all ease;
}

/* Visitor Guide */
.visitor-guide {
 color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: start;
 flex-direction: column;
 gap: 3rem;
 width: 100%;
 height: 100%;
 padding: 3rem 0;
}
